// ** login page **

// ** nav **
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary-color;
  border-bottom: 1px solid $dark-color;
  margin-bottom: 1em;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  // background: $highlight-color;
}


// ** profile page **
// .login-page {
//   @include flex-center;
//   // align-content: center;

// }

.login-page,
.profile-page,
.new-booking,
.availability-section {
  @include flex-center;
  text-align: center;
}

#login-form-submit {
  background-color: $highlight-color;
  box-shadow: 0 2px 4px 0 $dark-color;
  border-radius: 10px;
  cursor: pointer; 
  margin: 1em;
}

#login-form-submit:active {
  transform: scale(1.20);
  box-shadow: 0 4px 8px 0 red;
}

.search-results,
.total-spent,
.room-info {
  @include flex-center;
  // @include mainCardStyle;
}

.available-results,
.search-results {
  @include grid;
  // @include mainCardStyle;
  align-items: center;
}

#bookingButton {
  width: 100%
}

.room-info {
  @include mainCardStyle;
}

// ** booking page **

// ** search result page **


