// ** login page **

// ** nav **
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $highlight-color;
}

// ** profile page **
.profile-page,
.new-booking,
.availability-section {
  @include flex-center;
  text-align: center;
}

.search-results,
.total-spent,
.room-info {
  @include flex-center;
  // @include mainCardStyle;
}

.available-results,
.search-results {
  @include grid;
  // @include mainCardStyle;
  align-items: center;
}

.room-info {
  @include mainCardStyle;
}

// ** booking page **

// ** search result page **


