// ** login page **

// ** nav **
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ** profile page **
.profile-page {
  @include flex-center;
  text-align: center;
}

// ** booking page **

// ** search result page **


