$primary-background: radial-gradient(circle,#9e3b17 40%, #63190f) 60%;
$primary-color: #63190f;
$secondary-color: #9e3b17;
$highlight-color: #6b8b93;
$dark-color: #351c10;

@mixin flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  overflow-y: scroll;
}

@mixin mainCardStyle {
  background-color: $highlight-color;
  padding: 1em;
  box-shadow: 0 2px 4px 0 $dark-color;
  border-radius: 10px;
}