/* This is an example of how to import a partial scss file*/
@import '_variables';
@import '_pageViews';

// * {
//   border: 1px dashed black;
//   // margin: 0;
//   // padding: 0;
// }

html {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: $primary-background;
  min-height: 100vh;
  overflow: scroll;
}

button {
  cursor: pointer; 
  // padding: 0.5em;
  margin: 1em;
  background-color: $highlight-color;
  box-shadow: 0 2px 4px 0 $dark-color;
  border-radius: 5px;
}

#bookingButton {
  width: 100%
}

h1 {
  font-size: 2rem;
  text-shadow: 1px 1px $secondary-color;
}

h2 {
  font-size: 1.5rem;
  text-shadow: 1px 1px $secondary-color;
}

main {
  @include flex-center;
}

img {
  box-shadow: 0 3px 6px 0 $dark-color;
  border-radius: 5px;
  margin: 2em;
  
}

.hidden {
  display: none;
}
